:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}
body {
  background-color: var(--white-background);
  font-family: "Roboto", sans-serif;
  letter-spacing: 2%;
  line-height: 24px;
  color: var(--text);
}


.list {
  list-style-type: none;
}

/* Logo */

.logo-link {
  color: var(--primary-brand);
  text-decoration: none;
}
.header .some-class {
  color: var(--dark);
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
/* Navigation menu */

.nav-link {
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  list-style-type: none;
  text-decoration: none;
}

.navigation-list .nav-link:active {
  color: var(--pressed-state);
}

/* address */

.address-link {
  text-decoration: none;
  line-height: 1, 5;
  letter-spacing: 0.32px;
  color: var(--text);
}
.list .address-link:active {
  color: var(--pressed-state);
}

/* Hero */

.hero {
  background-color: var(--hero-background);
}
.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  text-align: center;

  color: var(--white-background);
}
/* Button */
.btn-order {
  color: var(--white-background);
  background-color: var(--primary-brand);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.btn-order:hover,
.btn-order:focus {
  background-color: var(--pressed-state);
}

/* Our Preference */

.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--dark);
}
.subtitle .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--text);
}

/* What are we doing */
.title-text {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

/* Our team */
.team {
  background-color: var(--light);
}

.team-list .subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-align: center;
  color: var(--dark);
}

.team-list .text {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
  color: var(--text);
}

/* Footer */
.page-footer {
  background-color: var(--dark);
}

.page-footer .logo-link {
  color: var(--primary-brand);
}
.some-class {
  color: var(--light);
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.page-footer .text {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--light);
}

/* Portfolio */
/* Foto-list */

.foto-list .title-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--dark);
}
.foto-list .text {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--text);
}

/* List-btn */

.btn-list {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  color: var(--primary-brand);
}

.btn-list:hover,
.btn-list:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
}
